/*################################# HOME SECTION #################################*/

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home > div {
  padding: 0;
}

#home > div:hover {
  transform: none;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black no-repeat center center/cover;
}

.video-container video {
  min-height: 100%;
  min-width: 100%;
  max-width: 100vw;
  object-fit: cover;
}

.home-content {
  padding: 1em;
  z-index: 1;
}

/*################################# ABOUT_US#################################*/

#about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

#about-us .flip-card {
  width: auto;
  min-width: 330px;
  height: auto;
  min-height: 340px;
}

#about-us .flip-card-front {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

#about-us .flip-card-front > h3 {
  font-size: var(--small-font);
}

/*################################# example_01 #################################*/

#example_01 > div:nth-of-type(1) {
  grid-column: 1/4;
}

#example_01 > div:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#example_01 > div:nth-of-type(7) {
  grid-column: 1/4;
  text-align: left;
  min-height: 100vh;
}

#example_01 > div:nth-of-type(8) {
  grid-column: 1/3;
  text-align: left;
  min-height: 100vh;
}

#example_01 > div:nth-of-type(9) {
  grid-column: 3/4;
  justify-content: flex-end;
  text-align: left;
  padding-top: 10vh;
}
/*################################# example_0 #################################*/

#example0 > div:nth-of-type(1) {
  grid-column: 1/4;
}

#example0 > div:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#example0 > div:nth-of-type(7) {
  grid-column: 1/4;
  min-height: 100vh;
  text-align: center;
}

/*################################# Example 1 #################################*/
#example1 > div:nth-of-type(1) {
  grid-column: 1/3;
}

#example1 > div:nth-of-type(2) {
  grid-column: 2/4;
  grid-row: 2/4;
}

#example_1 {
  max-height: 99vh;
}

/*################################# productIdea #################################*/
#productIdea {
  height: 100vh;
}

#productIdea > div:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}

#productIdea > div:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2/4;
}

/*################################# prototype #################################*/
#prototype {
  height: 100vh;
}

#prototype > div:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}

#prototype > div:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2/4;
}

/*################################# 3dprint #################################*/
#print {
  height: 100vh;
}

#print > div:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}

#print > div:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2/4;
}

/*################################# Advantages #################################*/
#advantages {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  padding: 0 3rem;
}

#advantages li {
  text-align: left;
}

.bgLagos {
  text-align: left;
  justify-content: flex-end;
}

/*################################# Realization #################################*/

#realization {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

#realization li {
  text-align: left;
}

/*################################# Business #################################*/

#business {
  height: 100vh;
}

#business > div:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

#business > div:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}

#business > div:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 3/4;
}

/*################################# Cooperation #################################*/

#cooperation {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 5rem 1rem;
}

/*################################# Contact #################################*/
#contact {
  height: 100vh;
}
#contact > div:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}

#contact > div:nth-of-type(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}

@media screen and (max-width: 900px) {
  #example1 > div:nth-of-type(1),
  #example1 > div:nth-of-type(2),
  #example2 > div:nth-of-type(1),
  #example2 > div:nth-of-type(2),
  #example2 > div:nth-of-type(3),
  #example3 > div:nth-of-type(1),
  #example3 > div:nth-of-type(2),
  #example3 > div:nth-of-type(3) {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 500px) {
  #example1 > div:nth-of-type(1),
  #example1 > div:nth-of-type(2),
  #example2 > div:nth-of-type(1),
  #example2 > div:nth-of-type(2),
  #example2 > div:nth-of-type(3),
  #example3 > div:nth-of-type(1),
  #example3 > div:nth-of-type(2),
  #example3 > div:nth-of-type(3) {
    grid-column: 1/2;
  }
}
